@CHARSET "UTF-8";

section#top {
	background-image: url("../images/user-top.jpg");
}
.col-sm-6.pofol-left {
    width: 90%;
    margin: 0 auto;
    float: none;
}
.col-sm-6.pofol-right {
    width: 0%;
    padding: 0px;
    margin: 0px;
}
.col-lg-10 ul {
	list-style-type: none;
}

.col-lg-10 li {
	float: left;
	padding: 0px 10px 10px 10px;
}