<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.nadu.rms.vo.Member" alias="Member"/>
		<typeAlias type="com.nadu.rms.vo.Events" alias="Events"/>
		<typeAlias type="com.nadu.rms.vo.Eventlist" alias="Eventlist"/>
		<typeAlias type="com.nadu.rms.vo.Event_Eventlist" alias="Event_Eventlist"/>
		<typeAlias type="com.nadu.rms.vo.Event_User" alias="Event_User"/>
		<typeAlias type="com.nadu.rms.vo.Users" alias="Users"/>
		<typeAlias type="com.nadu.rms.vo.Notices" alias="Notices"/>
		<typeAlias type="com.nadu.rms.vo.FAQ" alias="FAQ"/>
		<typeAlias type="com.nadu.rms.vo.QNA" alias="QNA"/>
		<typeAlias type="com.nadu.rms.vo.FreeBoard" alias="FreeBoard"/>
		<typeAlias type="com.nadu.rms.vo.Review" alias="Review"/>
		<typeAlias type="com.nadu.rms.vo.Guestlist" alias="Guestlist"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@211.238.142.143:1521:orcl"/>
				<property name="username" value="rms_admin"/>
				<property name="password" value="1q2w3e"/>
			</dataSource>
		</environment>
	</environments>
	 
	<mappers>
		<mapper resource="com/nadu/rms/mapper/ExampleMapper.xml"/>
		<mapper resource="com/nadu/rms/mapper/EventsMapper.xml"/>
		<mapper resource="com/nadu/rms/mapper/EventlistMapper.xml"/>
		<mapper resource="com/nadu/rms/mapper/BannerMapper.xml"/>
		<mapper resource="com/nadu/rms/mapper/UsersMapper.xml"/>
		<mapper resource="com/nadu/rms/mapper/FreeBoardMapper.xml"/>
		<mapper resource="com/nadu/rms/mapper/customerMapper.xml"/>
		<mapper resource="com/nadu/rms/mapper/ReviewsMapper.xml"/>
		<mapper class="com.nadu.rms.mapper.CategoryMapper" />
		<mapper resource="com/nadu/rms/mapper/GuestlistMapper.xml"/>
	</mappers>

</configuration>