<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.nadu.rms.mapper.annotation.BoardMapper">

	<!-- <select id="selectBoards" parameterType="String" resultType="com.nadu.rms.vo.Board">
		<choose>
			<when test="param3 == null">
				SELECT * FROM (SELECT ROWNUM NUM, B.* FROM (SELECT * FROM BOARDS WHERE TYPE = #{type} ORDER BY
				TO_NUMBER(BIDX) DESC) B)WHERE NUM BETWEEN ${param1} AND ${param2}
			</when>

			<when test="param4 != null">
				SELECT * FROM (SELECT ROWNUM NUM, B.* FROM (SELECT * FROM BOARDS WHERE
				${param3} LIKE '%${param4}%' AND TYPE = #{type} ORDER BY REGDATE DESC) B) WHERE NUM
				BETWEEN ${param1} AND ${param2}
			</when>
		</choose>
	</select> -->
	<!-- SELECT * FROM (SELECT * FROM BOARDS WHERE ${param1} LIKE '%${param2}%'
				ORDER BY REGDATE DESC) -->
	
	<select id="selectBoardDetail" parameterType="Integer" resultType="com.nadu.rms.vo.Board">
	SELECT * FROM BOARDS WHERE BIDX = #{bidx}
	</select>
	
	<insert id="insertBoard" parameterType="com.nadu.rms.vo.Board">
	INSERT INTO BOARDS(BIDX, WRITER, TITLE, CONTENT, REGDATE) 
	VALUES(TO_CHAR(BOARDS_SEQ.NEXTVAL), #{writer, jdbcType=NVARCHAR}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, SYSDATE)
	</insert>
	
	<update id="updateBoard" parameterType="com.nadu.rms.vo.Board">
	UPDATE BOARDS SET TITLE=#{title, jdbcType=VARCHAR}, CONTENT=#{content, jdbcType=VARCHAR}, REGDATE=SYSDATE WHERE BIDX = #{bidx, jdbcType=VARCHAR}
	</update>
	
	<delete id="delBoard" parameterType="String">
	DELETE FROM BOARDS WHERE BIDX = #{bidx, jdbcType=VARCHAR}
	</delete>
	
</mapper>