<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.nadu.rms.mapper.customerMapper">

	<select id="selectAllFAQs" resultType="com.nadu.rms.vo.FAQ">
	SELECT * FROM FAQ 
	</select>
	<select id="selectAllNotices" resultType="com.nadu.rms.vo.Notices">
	SELECT * FROM NOTICES 
	</select>
	<select id="selectNoticesDetail" resultType="com.nadu.rms.vo.Notices">
	SELECT TITLE, CONTENT FROM NOTICES WHERE NIDX = #{nidx}
	</select>
	<select id="searchNotices" resultType="com.nadu.rms.vo.Notices">
	SELECT * FROM NOTICES WHERE TITLE LIKE '%'||#{title}||'%'
	</select>
	<select id="selectFAQsDetail" resultType="com.nadu.rms.vo.FAQ">
	SELECT TITLE, CONTENT FROM FAQ WHERE FIDX = #{fidx}
	</select>
	<select id="searchFAQs" resultType="com.nadu.rms.vo.FAQ">
	SELECT * FROM FAQ WHERE TITLE LIKE '%'||#{title}||'%'
	</select>
	<select id="selectQNAsDetail" resultType="com.nadu.rms.vo.QNA">
	SELECT TITLE, CONTENT FROM QNA WHERE QIDX = #{qidx}
	</select>
	<select id="searchQNAs" resultType="com.nadu.rms.vo.QNA">
	SELECT * FROM QNA WHERE TITLE LIKE '%'||#{title}||'%'
	</select>
	<select id="selectAllQNAs" resultType="com.nadu.rms.vo.QNA">
	SELECT * FROM QNA
	</select>
	<select id="insertQNAs" resultType="com.nadu.rms.vo.QNA">
	INSERT INTO QNA(QIDX ,TITLE, CONTENT, REGDATE, ANSWER) VALUES((SELECT COUNT(QIDX) FROM QNA)+1, #{title, jdbcType=VARCHAR},#{content, jdbcType=VARCHAR},SYSDATE, 'n')
	</select>
</mapper>