<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.nadu.rms.mapper.EventsMapper">

	<select id="selectEvents" resultType="com.nadu.rms.vo.Event_Eventlist">
	SELECT * FROM EVENTS
	</select>
	
	<select id="selectEventsDetailByESIDX" parameterType = "String" resultType="hashmap">
		SELECT * FROM VIEW_JOIN_ES_EL WHERE ESIDX = #{esidx, jdbcType=VARCHAR}
	</select>
	
	<!-- Events details -->
	<select id="selectEventsNUser" parameterType="hashMap" resultType="com.nadu.rms.vo.Event_User">
		SELECT * FROM (SELECT ROWNUM RNUM, RT.* FROM (SELECT * FROM VIEW_JOIN_ES_USERS) RT ) WHERE RNUM BETWEEN #{startNum, jdbcType=VARCHAR} AND #{endNum, jdbcType=VARCHAR} ORDER BY ESIDX DESC
	</select>
	
	<insert id="insertEvents" parameterType="com.nadu.rms.vo.Events"> 
	INSERT INTO EVENTS(ESIDX, CATEGORY,  EVENTNAME, HOLDER, DESCRIPTION, ABSTRACT, IMGSRC) VALUES(TO_CHAR(EVENTS_SEQ.NEXTVAL),#{category, jdbcType=VARCHAR},#{eventname, jdbcType=VARCHAR},#{holder, jdbcType=NVARCHAR},#{description, jdbcType=VARCHAR},#{abs, jdbcType=VARCHAR},#{imgsrc, jdbcType=VARCHAR})
	<selectKey keyProperty="esidx" resultType="String" order="AFTER"><!-- 나중에 실행 -->
		SELECT TO_CHAR(EVENTS_SEQ.CURRVAL) FROM dual
	</selectKey>
	</insert>
	
	<select id="getCntFromEvents" resultType="Integer">
		SELECT COUNT(ESIDX) FROM EVENTS
	</select>

	
</mapper>