<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.nadu.rms.mapper.annotation.EventlistMapper">

	<insert id="insertEventlist" parameterType="com.nadu.rms.vo.Event_Eventlist">
	INSERT INTO EVENTLIST(ELIDX, ESIDX, ADDR, ELDATE, MAXGNUM, LATLNG) VALUES(TO_CHAR(EL_SEQ.NEXTVAL), TO_CHAR(#{esidx, jdbcType=VARCHAR}), #{addr, jdbcType=VARCHAR}, TO_DATE(#{eldate, jdbcType=VARCHAR}, 'yyyy/mm/dd hh24:mi'), TO_NUMBER(#{maxgnum, jdbcType=VARCHAR}), #{latlng, jdbcType=VARCHAR})
	<selectKey keyProperty="elidx" resultType="String" order="AFTER"><!-- 나중에 실행 -->
		SELECT TO_CHAR(EL_SEQ.CURRVAL) FROM dual
	</selectKey>
	</insert>
	
</mapper>