<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.nadu.rms.mapper.FreeBoardMapper">

	<select id="selectFreeBoard" resultType="com.nadu.rms.vo.FreeBoard">
	<!-- SELECT * FROM NOTICES ORDER BY TO_NUMBER(NIDX) DESC -->
	</select>
	
	<select id="selectFreeDetail" parameterType="Integer" resultType="com.nadu.rms.vo.FreeBoard">
	SELECT * FROM NOTICES WHERE NIDX = #{nidx}
	</select>
	
	<insert id="insertFreeBoard" parameterType="com.nadu.rms.vo.FreeBoard">
	INSERT INTO NOTICES(NIDX, WRITER, TITLE, CONTENT, REGDATE) 
	VALUES(TO_CHAR(NOTICES_SEQ.NEXTVAL), #{writer, jdbcType=NVARCHAR}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, SYSDATE)
	</insert>
	
	<update id="updateFreeBoard" parameterType="com.nadu.rms.vo.FreeBoard">
	UPDATE NOTICES SET TITLE=#{title, jdbcType=VARCHAR}, CONTENT=#{content, jdbcType=VARCHAR}, REGDATE=SYSDATE WHERE NIDX = #{nidx, jdbcType=VARCHAR}
	</update>
	
	<delete id="delFreeBoard" parameterType="String">
	DELETE FROM NOTICES WHERE NIDX = #{nidx, jdbcType=VARCHAR}
	</delete>
	
</mapper>