<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.nadu.rms.mapper.annotation.GuestlistMapper">
	
	<select id="callApplyProcedure" parameterType="Guestlist" statementType="CALLABLE" >
		{
			call GUESTAPPLY( #{elidx, mode=IN, jdbcType=VARCHAR}, #{guest, mode=IN, jdbcType=VARCHAR},  #{result, mode=OUT, jdbcType=VARCHAR} ) 
		}
	</select>

</mapper>